html {
    cursor: url(cross_cursor.png) 32.3 32.3, default;
}

body {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    /* height: 500vh; */
}

.top {
    position: fixed;
    z-index: 30;
}

.bottom {
    position: fixed;
    bottom: 0;
    z-index: 31;
}

.button-next-3 {
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: flex-end;
    bottom: -280px;
    z-index: 100;
}

.placeholder {
    position: absolute;
    width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.children {
    position: relative;
    display: flex;
    max-width:1920px;
    margin: 0 auto;
    justify-content: center;
}

.layer_1 {
    display: flex;
    position: relative;
    top: -500px;
}

.suns_image {
    display: flex;
    position: relative;
    padding-top: 48px;
}

.image_sequence {
    display: flex;
    position: relative;
}

/* .suns {
    display: flex;
    position: relative;
    justify-content: flex-start;
    flex-direction: row;
    align-items: stretch;
} */