html {
    cursor: url(cross_cursor.png) 32.3 32.3, default;
}

body {
    max-width: 1920px;
    margin-left: 0 auto;
    margin-right: 0 auto;
    padding: 0;
    padding-bottom: 254.6307px ;
}

canvas {
    background-image: url(3_apply_technology/1x/technology__.png);
    width: 1920px;
    height: 4104 px;
}

.top {
    position: fixed;
    z-index: 30;
}

.bottom {
    position: fixed;
    bottom: 0;
    z-index: 31;
}

.button-next-4 {
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: flex-end;
    bottom: -280px;
    z-index: 100;
}

.placeholder {
    position: absolute;
    width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.children {
    position: relative;
    display: flex;
    max-width:1920px;
    margin: 0 auto;
    justify-content: center;
}

.comp_photo_lines {
    top: -1409.6498px;
}

.marq {
    padding-top: 60px;
    font-size: 60pt;
    font-family: 'Suisse Int\'l Book'
}   

.bunny_points {
    position: relative;
    top: -800px;
}

.comp_photo_lines {
    position: relative;
    top: -972px;
}